<%= form_for(@general_manager) do |f| %>
  <% if @general_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_manager.errors.count, "error") %> prohibited this general_manager from being saved:</h2>

      <ul>
      <% @general_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_area :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
